[Unit]
Description=use curl and wttr to get the weather every day

[Service]
Type=oneshot
ExecStart=/opt/getWeather/getWeather

[Install]
WantedBy=multi-user.target
